.background-section {
  background-color: rgb(20, 20, 20);
}

.header-background {
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, .8)0%, rgba(20, 20, 20, 0) 100%);
  animation: nav-shadown 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes nav-shadown {
  to {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0)0%, rgba(20, 20, 20) 100%);
  }
}

.netflix {
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(to right, rgba(20, 20, 20, .6) 0%, rgba(20, 20, 20, 0.5) 30%, rgba(20, 20, 20, .2) 90%, rgba(20, 20, 20, 0) 100%), linear-gradient(to top, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0) 100%);
  background-size: 50% 100%;
  background-position: left top;
  background-repeat: no-repeat;
}

.netflix2 {
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(to top, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.1) 20%);
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
}

.carousel-netflix .react-multi-carousel-list button {
  height: 100%;
  z-index: 2;
}

.carousel-netflix .react-multiple-carousel__arrow {
  border-radius: 3px !important;
}

.carousel-netflix .react-multiple-carousel__arrow--left {
  left: 4px !important;
}

.carousel-netflix .react-multiple-carousel__arrow--right {
  right: 3.2px !important;
}
footer ul{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer ul li{
  color: #808080;
}
footer ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}